@keyframes scale-up {
    0% {
		opacity: 0;
	}

	100% {
		opacity: 1;
	}
}

@keyframes social {
	0% {
		opacity: 0;
		transform: rotateX(100deg);
		transform-origin: bottom;
	}

    80% {
		opacity: 0;
		transform: rotateX(100deg);
		transform-origin: bottom;
	}

	100% {
		opacity: 1;
		transform: rotateX(0);
		transform-origin: bottom;
	}
}

.social{
    animation: social 3s ease 0s 1 normal forwards;
}

.picture{
    animation: scale-up 2s ease 0s 1 normal forwards;
}